@import 'tailwindcss';
@import './shiki.css';

/**
* Use manual selector insted of media query for dark theme .
*/
@custom-variant dark (&:where(.dark, .dark *));

/**
* Hide elements with x-cloak attribute.
* This is useful for Alpine.js components that should not be visible before Alpine.js is initialized.
*/
[x-cloak] { display: none !important; }
