@import 'tailwindcss';

/**
* Use manual selector insted of media query for dark theme .
*/
@custom-variant dark (&:where(.dark, .dark *));

/**
* Viewport height issue on mobile browsers fix.
* https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser
*/
@theme {
    --vh: 1vh;
    --tw-h-screen: calc(var(--vh, 1vh) * 100);
    --tw-min-h-screen: calc(var(--vh, 1vh) * 100);
}

.h-screen {
    height: var(--tw-h-screen);
}

.min-h-screen {
	min-height: var(--tw-min-h-screen);
}