<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
		<link rel="preload" href="/css/app.css" as="style">
		<link rel="stylesheet" href="/css/app.css">
		<!-- END Style -->
		<!-- Script -->
		<link rel="preload" href="/js/app.ts" as="script">
		<script src="/js/app.ts" type="module" defer></script>
		<!-- END Script -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl">
            <div class="space-y-4 pt-32 max-w-screen-sm">
                <!-- Accordion Component -->
                <div class="space-y-4"
                    x-data="{ 
                        activeAccordion: 1,
                        toggleAccordion(index) { 
                            this.activeAccordion = this.activeAccordion === index ? null : index;
                        }    
                    }"
                >
                    <!-- Accordion 1 -->
                    <div class="pb-4 border-neutral-200 dark:border-neutral-800 border-b">
                        <!-- Accordion 1 Toggle -->
                        <button type="button" class="group flex justify-between w-full font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black dark:text-neutral-400 text-sm cursor-pointer" aria-controls="accordion-1" aria-label="Toggle accordion 1."
                            @click="toggleAccordion(1)"
                            :aria-expanded="activeAccordion === 1"
                        >
                            <span>Accordion 1</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white group-focus:dark:stroke-neutral-200 group-focus:stroke-neutral-700 group-hover:dark:stroke-neutral-200 group-hover:stroke-neutral-700 w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l4 -4l4 4"/><path d="M16 15l-4 4l-4 -4"/></svg>
                        </button>
                        <!-- END Accordion 1 Toggle -->
                        <!-- Accordion 1 Content -->
                        <div id="accordion-1" class="mt-4"
                            :class="{'hidden invisible': activeAccordion != 1 }"
                            :inert="activeAccordion != 1"
                        >
                            <p class="text-neutral-800 dark:text-neutral-200 text-sm">This is an accordion 1 paragraph text.</p>
                        </div>
                        <!-- END Accordion 1 Content -->
                    </div>
                    <!-- END Accordion 1 -->
                    <!-- Accordion 2 -->
                    <div class="pb-4 border-neutral-200 dark:border-neutral-800 border-b">
                        <!-- Accordion 2 Toggle -->
                        <button type="button" class="group flex justify-between w-full font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black dark:text-neutral-400 text-sm cursor-pointer" aria-controls="accordion-2" aria-label="Toggle accordion 2."
                            @click="toggleAccordion(2)"
                            :aria-expanded="activeAccordion === 2"
                        >
                            <span>Accordion 2</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white group-focus:dark:stroke-neutral-200 group-focus:stroke-neutral-700 group-hover:dark:stroke-neutral-200 group-hover:stroke-neutral-700 w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l4 -4l4 4"/><path d="M16 15l-4 4l-4 -4"/></svg>
                        </button>
                        <!-- END Accordion 2 Toggle -->
                        <!-- Accordion 2 Content -->
                        <div id="accordion-2" class="hidden invisible mt-4"
                            :class="{'hidden invisible': activeAccordion != 2 }"
                            :inert="activeAccordion != 2"
                        >
                            <p class="text-neutral-800 dark:text-neutral-200 text-sm">This is an accordion 2 paragraph text.</p>
                        </div>
                        <!-- END Accordion 2 Content -->
                    </div>
                    <!-- END Accordion 2 -->
                    <!-- Accordion 3 -->
                    <div class="pb-4 border-neutral-200 dark:border-neutral-800 border-b">
                        <!-- Accordion 3 Toggle -->
                        <button type="button" class="group flex justify-between w-full font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black dark:text-neutral-400 text-sm cursor-pointer" aria-controls="accordion-3" aria-label="Toggle accordion 3."
                            @click="toggleAccordion(3)"
                            :aria-expanded="activeAccordion === 3"
                        >
                            <span>Accordion 3</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white group-focus:dark:stroke-neutral-200 group-focus:stroke-neutral-700 group-hover:dark:stroke-neutral-200 group-hover:stroke-neutral-700 w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l4 -4l4 4"/><path d="M16 15l-4 4l-4 -4"/></svg>
                        </button>
                        <!-- END Accordion 3 Toggle -->
                        <!-- Accordion 3 Content -->
                        <div id="accordion-3" class="hidden invisible mt-4"
                            :class="{'hidden invisible': activeAccordion != 3 }"
                            :inert="activeAccordion != 3"
                        >
                            <p class="text-neutral-800 dark:text-neutral-200 text-sm">This is an accordion 3 paragraph text.</p>
                        </div>
                        <!-- END Accordion 3 Content -->
                    </div>
                    <!-- END Accordion 3 -->
                </div>
                <!-- END Accordion Component -->
                <div class="mt-16">
                    <a href="/index.html" class="font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black visited:text-neutral-700 dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                </div>
            </div>
        </main>
        <!-- END Content -->
    </body>
</html>