<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
        <link rel="preload" href="/assets/css/app.css" as="style">
        <link rel="stylesheet" href="/assets/css/app.css">
        <!-- END Style -->
        <!-- Script -->
        <link rel="preload" href="/assets/js/app.ts" as="script">
        <script src="/assets/js/app.ts" type="module" defer></script>
        <!-- END Script -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl">  
            <div class="space-y-4 pt-32 max-w-screen-sm">
                <!-- Code Component -->
                <div class="border border-neutral-200 dark:border-neutral-800 rounded">
                    <div class="flex px-4 pt-4">
                        <!-- Code Title -->
                        <p class="font-mono font-medium text-neutral-500 text-sm">ts</p>
                        <!-- End Code Title -->
                        <!-- Copy Button -->
                        <button type="button" class="ml-auto cursor-pointer" aria-label="Copy code."
                            x-data="{ 
                                isCopied: false,
                                code: `function greet(name: string): string {
    return \`Hello, \${name}!\`;
}`,
                                copy() {
                                    navigator.clipboard.writeText(this.code);
                                    this.isCopied = true;
                                    setTimeout(() => { this.isCopied = false }, 2000);
                                }
                            }"
                            @click="copy()"
                        >
                            <svg x-show="!isCopied" xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"/><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"/></svg>
                            <svg x-show="isCopied" x-cloak xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"/><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"/><path d="M9 14l2 2l4 -4"/></svg>
                        </button> 
                        <!-- END Copy Button -->
                    </div>

                    <div class="py-4 overflow-x-auto">
                        <!-- Code Snippet -->
                        <code class="text-black dark:text-white text-sm wrap-break-word">
                            <span class="block px-4">function greet(name: string): string {</span>
                            <span class="block ml-8 px-4">console.log("Hello, world!");</span>
                            <span class="block px-4">}</span>
                        </code>
                        <!-- END Code Snippet -->
                    </div>
                </div>
                <!-- END Code Component -->
               
                <div class="mt-16">
                    <a href="/index.html" class="font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black visited:text-neutral-700 dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                </div>
            </div>
        </main>
        <!-- END Content -->   
    </body>
</html>