<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
        <link rel="preload" href="/assets/css/app.css" as="style">
        <link rel="stylesheet" href="/assets/css/app.css">
        <!-- END Style -->
        <!-- Script -->
        <link rel="preload" href="/assets/js/app.ts" as="script">
        <script src="/assets/js/app.ts" type="module" defer></script>
        <!-- END Script -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl"> 
            <div class="space-y-4 pt-32 max-w-screen-sm">
                <div class="h-dvh"></div>
                <!-- Dropdown Component -->
                <div class="relative w-fit"
                    x-data="{ isDropdownOpen: false }"
                    x-on:click.outside="isDropdownOpen = false"
                    x-on:keydown.escape.window="isDropdownOpen = false"
                >
                    <!-- Dropdown Toggle -->
                    <div
                        x-ref="button"
                        x-on:click="isDropdownOpen = !isDropdownOpen"
                        :aria-expanded="isDropdownOpen"
                    >
                        <button type="button" class="flex items-center gap-2 bg-black hover:bg-neutral-800 focus:bg-neutral-800 dark:bg-neutral-100 dark:hover:bg-white dark:focus:bg-white disabled:opacity-60 px-3 py-2 rounded font-medium text-white dark:text-black text-sm cursor-pointer disabled:pointer-events-none" aria-controls="dropdown" aria-label="Toggle dropdown.">
                            <span>Dropdown</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-white dark:stroke-black w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6"/></svg>
                        </button>
                    </div>
                    <!-- END Dropdown Toggle -->
                    <!-- Dropdown Menu -->
                    <div id="dropdown" class="left-0 z-10 absolute bg-white dark:bg-neutral-950 border border-neutral-200 dark:border-neutral-800 rounded w-48"
                        x-show="isDropdownOpen"
                        x-cloak
                        x-anchor.no-style.offset.8="$refs.button"
                        :inert="!isDropdownOpen"
                        :style="{ top: $anchor.y+'px' }"
                    >
                        <ul class="space-y-1 p-1 leading-0">
                            <li>
                                <a href="#" class="inline-block hover:bg-neutral-100 dark:hover:bg-neutral-800 px-3 py-2 rounded w-full font-medium text-black dark:text-white text-sm text-left cursor-pointer">Dropdown item 1</a>
                            </li>
                            <li>
                                <a href="#" class="inline-block hover:bg-neutral-100 dark:hover:bg-neutral-800 px-3 py-2 rounded w-full font-medium text-black dark:text-white text-sm text-left cursor-pointer">Dropdown item 2</a>
                            </li>
                            <li>
                                <a href="#" class="inline-block hover:bg-neutral-100 dark:hover:bg-neutral-800 px-3 py-2 rounded w-full font-medium text-black dark:text-white text-sm text-left cursor-pointer">Dropdown item 3</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END Dropdown Menu -->
                </div>
                <!-- END Dropdown Component -->            
                <div class="mt-16">
                    <a href="/index.html" class="font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black visited:text-neutral-700 dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                </div>
            </div>
        </main>
        <!-- END Content -->   
    </body>
</html>