<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
        <link rel="preload" href="/assets/css/app.css" as="style">
        <link rel="stylesheet" href="/assets/css/app.css">
        <!-- END Style -->
        <!-- Script -->
        <link rel="preload" href="/assets/js/app.ts" as="script">
        <script src="/assets/js/app.ts" type="module" defer></script>
        <!-- END Script -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Navbar Component -->
        <nav class="top-0 z-10 sticky w-full"
            x-data="{
                breakpoint: 1024,
                isNavbarMenuOpen: false,
                isScrolled: window.scrollY > 0
            }"
            x-on:resize.window="
                if (window.innerWidth >= breakpoint) {
                    isNavbarMenuOpen = false;
                }
            "
            x-on:scroll.window="isScrolled = window.scrollY > 0;"
            :class="isScrolled
                ? 'bg-white dark:bg-neutral-950 border-b border-neutral-200 dark:border-neutral-800'
                : 'bg-transparent dark:bg-transparent border-transparent'"
        >
            <div class="flex justify-between items-center mx-auto px-4 sm:px-8 py-3 max-w-screen-xl">
                <a href="#" class="flex items-center gap-2 font-bold text-neutral-800 dark:text-neutral-200 text-sm">
                    <div class="bg-black dark:bg-white p-2 rounded">
                        <span class="[&_svg]:w-5 [&_svg]:h-5 text-white dark:text-black shrink-0">
                            <svg height="24" width="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M 0.92 0.92 L 23 0.92 M 23 0.92 L 23 6.44 M 23 6.44 L 14.72 6.44 M 14.72 6.44 L 14.72 9.2 M 14.72 9.2 L 23 9.2 M 23 9.2 L 23 14.72 M 23 14.72 L 14.72 14.72 M 14.72 14.72 L 14.72 23 M 14.72 23 L 9.2 23 M 9.2 23 L 9.2 6.44 M 9.2 6.44 L 6.44 6.44 M 6.44 6.44 L 6.44 23 M 6.44 23 L 0.92 23 M 0.92 23 L 0.92 0.92">
                            </svg>
                        </span>
                    </div>
                    <span>Title</span>
                </a>
                <!-- Navbar Menu -->
                <div id="navbar-menu" class="hidden invisible lg:visible lg:block top-0 lg:top-auto left-0 lg:left-auto z-10 lg:z-auto fixed lg:relative bg-black/80 lg:bg-transparent w-dvw lg:w-auto h-dvh lg:h-auto"
                    x-trap.noautofocus.noscroll="isNavbarMenuOpen && window.innerWidth < breakpoint"
                    x-on:click.self="isNavbarMenuOpen = false"
                    x-on:keydown.escape.window="isNavbarMenuOpen = false"
                    :class="{ 'hidden invisible pointer-events-none' : !isNavbarMenuOpen || window.innerWidth >= breakpoint }"
                    :inert="!isNavbarMenuOpen && window.innerWidth < breakpoint"
                >
                    <!-- Navbar Menu Drawer -->
                    <div class="top-0 right-0 fixed lg:relative bg-white lg:bg-transparent dark:bg-neutral-950 px-4 sm:px-8 lg:px-0 py-4 lg:py-0 border-neutral-200 lg:border-0 dark:border-neutral-800 border-r w-full sm:w-64 lg:w-auto h-full lg:h-auto overflow-y-auto lg:overflow-y-visible">
                        <!-- Navbar Menu Close -->
                        <button type="button" class="lg:hidden lg:invisible top-2 right-2 absolute hover:bg-neutral-100 focus:bg-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 disabled:opacity-60 [&_svg]:stroke-black dark:[&_svg]:stroke-white p-2 rounded font-medium text-black dark:text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="navbar-menu" aria-label="Close navbar menu."
                            x-on:click="isNavbarMenuOpen = false"
                            :aria-expanded="isNavbarMenuOpen"
                        >
                            <span class="[&_svg]:w-5 [&_svg]:h-5 shrink-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12"/><path d="M6 6l12 12"/></svg>
                            </span>
                        </button>
                        <!-- END Navbar Menu Close -->
                        <!-- Navbar Menu Links -->
                        <ul class="lg:flex lg:items-center lg:gap-8 space-y-1 lg:space-y-0 mt-8 lg:mt-0 leading-0">
                            <li>
                                <a href="#" class="inline-block bg-neutral-100 lg:bg-transparent lg:dark:bg-transparent dark:bg-neutral-800 lg:p-0 px-3 py-2 rounded w-full font-medium text-black lg:hover:text-neutral-700 lg:focus:text-neutral-700 lg:dark:hover:text-neutral-200 lg:dark:focus:text-neutral-200 dark:text-white text-sm text-left cursor-pointer">Link 1</a>
                            </li>
                            <li>
                                <a href="#" class="inline-block lg:hover:bg-transparent lg:dark:hover:bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-800 lg:p-0 px-3 py-2 rounded w-full font-medium text-black lg:hover:text-black lg:focus:text-black lg:text-neutral-500 lg:visited:text-neutral-700 lg:dark:hover:text-white lg:dark:focus:text-white lg:dark:text-neutral-400 lg:dark:visited:text-neutral-200 dark:text-white text-sm text-left cursor-pointer">Link 2</a>
                            </li>
                            <li>
                                <a href="#" class="inline-block lg:hover:bg-transparent lg:dark:hover:bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-800 lg:p-0 px-3 py-2 rounded w-full font-medium text-black lg:hover:text-black lg:focus:text-black lg:text-neutral-500 lg:visited:text-neutral-700 lg:dark:hover:text-white lg:dark:focus:text-white lg:dark:text-neutral-400 lg:dark:visited:text-neutral-200 dark:text-white text-sm text-left cursor-pointer">Link 3</a>
                            </li>
                        </ul>
                        <!-- END Navbar Menu Links -->
                    </div>
                    <!-- END Navbar Menu Drawer -->
                </div>  
                <!-- END Navbar Menu -->
                <!-- Navbar Menu Open -->
                <button type="button" class="lg:hidden lg:invisible hover:bg-neutral-100 focus:bg-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 disabled:opacity-60 [&_svg]:stroke-black dark:[&_svg]:stroke-white p-2 rounded font-medium text-black dark:text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="navbar-menu" aria-label="Open navbar menu."
                    x-on:click="isNavbarMenuOpen = true"
                    :aria-expanded="isNavbarMenuOpen"
                >
                    <span class="[&_svg]:w-5 [&_svg]:h-5 shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M4 6l16 0"/><path d="M4 12l16 0"/><path d="M4 18l16 0"/></svg>
                    </span>
                </button>
                <!-- END Navbar Menu Open -->
            </div>
        </nav>
        <!-- END Navbar Component -->
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl">  
            <div class="space-y-4 pt-32 max-w-screen-sm">
                <div class="h-screen"></div>
                <div class="mt-16">
                    <a href="/index.html" class="[&_svg]:stroke-neutral-500 hover:[&_svg]:stroke-black focus:[&_svg]:stroke-black visited:[&_svg]:stroke-neutral-700 dark:[&_svg]:stroke-neutral-400 dark:hover:[&_svg]:stroke-white dark:focus:[&_svg]:stroke-white dark:visited:[&_svg]:stroke-neutral-200 font-medium text-neutral-500 hover:text-black focus:text-black visited:text-neutral-700 dark:hover:text-white dark:focus:text-white dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                </div>
            </div>
        </main>
        <!-- END Content -->   
    </body>
</html>