<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Style-->
		<link rel="preload" href="/css/app.css" as="style">
		<link rel="stylesheet" href="/css/app.css">
		<!-- END Style -->
		<!-- Script -->
		<link rel="preload" href="/js/app.ts" as="script">
		<script src="/js/app.ts" type="module" defer></script>
		<!-- END Script -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Navbar Component -->
        <nav class="w-full"
            x-data="{
                breakpoint: 1024,
                isOpen: false,
                windowWidth: window.innerWidth,
            }"
            @resize.window="
                windowWidth = window.innerWidth;
                windowWidth >= breakpoint && isOpen && (isOpen = false);
            "
        >
            <div class="flex justify-between items-center mx-auto px-4 sm:px-8 py-2 lg:py-4 max-w-screen-xl">
                <a href="#" class="font-medium text-neutral-800 dark:text-neutral-200 text-base">Title</a>
                <!-- Navbar Menu -->
                <div id="navbar-menu" class="top-0 lg:top-auto left-0 lg:left-auto z-10 lg:z-auto fixed lg:relative bg-black/80 lg:bg-transparent w-dvw lg:w-auto h-dvh lg:h-auto"
                    x-show="isOpen || windowWidth >= breakpoint"
                    x-cloak
                    x-trap.noautofocus.noscroll="isOpen && windowWidth < breakpoint"
                    @click.self="isOpen = false"
                    @keydown.escape.window="isOpen = false"
                    :inert="!isOpen && windowWidth < breakpoint"
                >
                    <!-- Navbar Menu Drawer -->
                    <div class="top-0 right-0 fixed lg:relative bg-white lg:bg-transparent dark:bg-neutral-950 px-4 sm:px-8 lg:px-0 py-4 lg:py-0 border-neutral-200 lg:border-0 dark:border-neutral-800 border-r w-full sm:w-1/2 lg:w-auto h-full lg:h-auto overflow-y-auto lg:overflow-y-visible">
                        <!-- Navbar Menu Close -->
                        <button type="button" class="lg:hidden lg:invisible top-2 right-4 sm:right-8 absolute hover:bg-neutral-100 focus:bg-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 disabled:opacity-60 p-2 rounded font-medium text-black dark:text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="offcanvas" aria-label="Close offcanvas."
                            @click="isOpen = false"
                            :aria-expanded="isOpen"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12"/><path d="M6 6l12 12"/></svg>
                        </button>
                        <!-- END Navbar Menu Close -->
                        <!-- Navbar Menu Links -->
                        <ul class="lg:flex lg:items-center lg:gap-8 space-y-1 lg:space-y-0 mt-8 lg:mt-0 leading-0">
                            <li>
                                <a href="#" class="inline-block bg-neutral-100 lg:bg-transparent lg:dark:bg-transparent dark:bg-neutral-800 p-2 lg:p-0 rounded w-full font-medium text-black lg:hover:dark:text-neutral-200 lg:hover:text-neutral-700 lg:focus:dark:text-neutral-200 lg:focus:text-neutral-700 dark:text-white text-sm text-left cursor-pointer">Link 1</a>
                            </li>
                            <li>
                                <a href="#" class="inline-block lg:hover:bg-transparent lg:dark:hover:bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-800 p-2 lg:p-0 rounded w-full font-medium text-black lg:hover:dark:text-white lg:hover:text-black lg:focus:dark:text-white lg:focus:text-black lg:dark:text-neutral-400 lg:dark:visited:text-neutral-200 lg:text-neutral-500 lg:visited:text-neutral-700 dark:text-white text-sm text-left cursor-pointer">Link 2</a>
                            </li>
                            <li>
                                <a href="#" class="inline-block lg:hover:bg-transparent lg:dark:hover:bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-800 p-2 lg:p-0 rounded w-full font-medium text-black lg:hover:dark:text-white lg:hover:text-black lg:focus:dark:text-white lg:focus:text-black lg:dark:text-neutral-400 lg:dark:visited:text-neutral-200 lg:text-neutral-500 lg:visited:text-neutral-700 dark:text-white text-sm text-left cursor-pointer">Link 3</a>
                            </li>
                        </ul>
                        <!-- END Navbar Menu Links -->
                    </div>
                    <!-- END Navbar Menu Drawer -->
                </div>  
                <!-- END Navbar Menu -->
                <!-- Navbar Menu Open -->
                <button type="button" class="lg:hidden lg:invisible hover:bg-neutral-100 focus:bg-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 disabled:opacity-60 p-2 rounded font-medium text-black dark:text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="navbar-menu" aria-label="Open navbar menu."
                    @click="isOpen = true"
                    :aria-expanded="isOpen"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M4 6l16 0"/><path d="M4 12l16 0"/><path d="M4 18l16 0"/></svg>
                </button>
                <!-- END Navbar Menu Open -->
            </div>
        </nav>
        <!-- END Navbar Component -->
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl">  
            <div class="pt-32 max-w-screen-sm">
                <!-- Insert Component Here -->
                <div class="mt-16">
                    <a href="/index.html" class="font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black visited:text-neutral-700 dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                </div>
            </div>
        </main>
        <!-- END Content -->   
    </body>
</html>