<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
        <link rel="preload" href="/assets/css/app.css" as="style">
        <link rel="stylesheet" href="/assets/css/app.css">
        <!-- END Style -->
        <!-- Script -->
        <link rel="preload" href="/assets/js/app.ts" as="script">
        <script src="/assets/js/app.ts" type="module" defer></script>
        <!-- END Script -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl"> 
            <div class="space-y-4 pt-32 max-w-screen-sm">
                <!-- Overlay Open -->
                <button type="button" class="bg-black hover:bg-neutral-800 focus:bg-neutral-800 dark:bg-neutral-100 dark:hover:bg-white dark:focus:bg-white disabled:opacity-60 [&_svg]:stroke-white dark:[&_svg]:stroke-black px-3 py-2 rounded font-medium text-white dark:text-black text-sm cursor-pointer disabled:pointer-events-none" aria-controls="overlay" aria-label="Open overlay."
                    x-data="{ isOverlayOpen: false }"
                    x-on:click="$dispatch('open-overlay', { id: 'overlay' })"
                    x-on:overlay-expanded.window="$event.detail.id === 'overlay' ? isOverlayOpen = $event.detail.isOverlayOpen : null"
                    :aria-expanded="isOverlayOpen"
                >
                    <span>Overlay</span>
                </button>
                <!-- END Overlay Open -->
                <!-- Overlay Component -->
                <div id="overlay" class="top-0 left-0 z-10 fixed bg-black/80 w-dvw h-dvh"
                    x-data="{ isOverlayOpen: false }"
                    x-init="$watch('isOverlayOpen', isOverlayOpen => $dispatch('overlay-expanded', { id: 'overlay', isOverlayOpen: isOverlayOpen }))"
                    x-show="isOverlayOpen"
                    x-cloak
                    x-trap.noautofocus.noscroll="isOverlayOpen"
                    x-on:click.self="isOverlayOpen = false"
                    x-on:keydown.escape.window="isOverlayOpen = false"
                    x-on:open-overlay.window="$event.detail.id == 'overlay' ? isOverlayOpen = true : null"
                    x-on:close-overlay.window="$event.detail.id == 'overlay' ? isOverlayOpen = false : null"
                    :inert="!isOverlayOpen" 
                >
                    <!-- Insert Content Here  -->
                    <span></span>
                    <!-- END Insert Content Here -->
                </div>
                <!-- END Overlay Component -->
                <div class="mt-16">
                    <a href="/index.html" class="[&_svg]:stroke-neutral-500 hover:[&_svg]:stroke-black focus:[&_svg]:stroke-black visited:[&_svg]:stroke-neutral-700 dark:[&_svg]:stroke-neutral-400 dark:hover:[&_svg]:stroke-white dark:focus:[&_svg]:stroke-white dark:visited:[&_svg]:stroke-neutral-200 font-medium text-neutral-500 hover:text-black focus:text-black visited:text-neutral-700 dark:hover:text-white dark:focus:text-white dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                </div>
            </div>
        </main>
        <!-- END Content -->   
    </body>
</html>