<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
		<link rel="preload" href="/css/app.css" as="style">
            <link rel="stylesheet" href="/assets/css/app.css">
            <!-- END Style -->
		<!-- Script -->
		<link rel="preload" href="/js/app.ts" as="script">
            <script src="/assets/js/app.ts" type="module" defer></script>
		<!-- END Script -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl">  
            <div class="space-y-4 pt-32 max-w-screen-sm">
                <!-- Password Toggle -->
				<div class="relative rounded overflow-hidden"
                    x-data="{ isOpen: false }"
                >
					<button type="button" @click="isOpen = !isOpen" class="right-0 absolute inset-y-0 flex items-center pr-3 cursor-pointer" aria-label="Toggle show password">
						<span class="[&_svg]:stroke-black dark:[&_svg]:stroke-white [&_svg]:w-5 [&_svg]:h-5 shrink-0">
							<svg xmlns="http://www.w3.org/2000/svg" :class="{ 'hidden': isOpen, 'block': !isOpen }" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-eye-closed"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 9c-2.4 2.667 -5.4 4 -9 4c-3.6 0 -6.6 -1.333 -9 -4" /><path d="M3 15l2.5 -3.8" /><path d="M21 14.976l-2.492 -3.776" /><path d="M9 17l.5 -4" /><path d="M15 17l-.5 -4" /></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="hidden" :class="{ 'block': isOpen, 'hidden': !isOpen }" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
						</span>
					</button>
					<input :type="isOpen ? 'text' : 'password'" id="password" name="password" value="" class="inset-ring inset-ring-neutral-400 dark:inset-ring-neutral-600 bg-transparent disabled:opacity-60 py-2 pr-10 pl-3 rounded w-full text-neutral-800 dark:text-neutral-200 text-sm appearance-none cursor-text disabled:pointer-events-none" placeholder="Enter Password"/>
				</div>
                <!-- END Password Toggle -->
                <div class="mt-16">
                    <a href="/index.html" class="[&_svg]:stroke-neutral-500 hover:[&_svg]:stroke-black focus:[&_svg]:stroke-black visited:[&_svg]:stroke-neutral-700 dark:[&_svg]:stroke-neutral-400 dark:hover:[&_svg]:stroke-white dark:focus:[&_svg]:stroke-white dark:visited:[&_svg]:stroke-neutral-200 font-medium text-neutral-500 hover:text-black focus:text-black visited:text-neutral-700 dark:hover:text-white dark:focus:text-white dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                </div>
            </div>
        </main>
        <!-- END Content -->   
    </body>
</html>