<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
		<link rel="preload" href="/css/app.css" as="style">
		<link rel="stylesheet" href="/css/app.css">
		<!-- END Style -->
		<!-- Script -->
		<link rel="preload" href="/js/app.ts" as="script">
		<script src="/js/app.ts" type="module" defer></script>
		<!-- END Script -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative flex bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Sidebar Component -->
        <aside id="sidebar-menu" class="hidden invisible lg:visible lg:block top-0 left-0 z-10 fixed lg:sticky bg-black/80 lg:bg-transparent w-dvw lg:w-64 h-dvh"
            x-data="{
                breakpoint: 1024,
                isSidebarMenuOpen: false,
            }"
            x-init="$watch('isSidebarMenuOpen', isSidebarMenuOpen => $dispatch('set-sidebar-menu-expanded', isSidebarMenuOpen))"
            x-show="isSidebarMenuOpen || window.innerWidth >= breakpoint"
            x-trap.noautofocus.noscroll="isSidebarMenuOpen && window.innerWidth < breakpoint"
            @resize.window="
                if (window.innerWidth >= breakpoint && isSidebarMenuOpen) {
                    isSidebarMenuOpen = false;
                }
            "
            @click.self="window.innerWidth < breakpoint && (isSidebarMenuOpen = false)"
            @keydown.escape.window="window.innerWidth < breakpoint && (isSidebarMenuOpen = false)"
            @open-sidebar-menu.window="isSidebarMenuOpen = true"
            :class="{ 'hidden invisible' : !isSidebarMenuOpen }"
            :inert="!isSidebarMenuOpen && window.innerWidth < breakpoint"
        >
            <!-- Sidebar Drawer -->
            <div class="top-0 left-0 fixed flex flex-col bg-white dark:bg-neutral-950 border-neutral-200 dark:border-neutral-800 border-r w-full sm:w-64 h-full">
                <!-- Sidebar Close -->
                <button type="button" class="lg:hidden lg:invisible top-2 right-2 absolute hover:bg-neutral-100 focus:bg-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 disabled:opacity-60 p-2 rounded font-medium text-black dark:text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="sidebar-menu" aria-label="Close sidebar menu."
                    @click="isSidebarMenuOpen = false"
                    :aria-expanded="isSidebarMenuOpen"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12"/><path d="M6 6l12 12"/></svg>
                </button>
                <!-- END Sidebar Close -->
                <a href="#" class="px-4 sm:px-8 py-4 font-medium text-neutral-800 dark:text-neutral-200 text-base">Title</a>
                <ul class="space-y-1 px-4 sm:px-8 pt-2 pb-4 overflow-y-auto">
                    <li>
                        <a href="#" class="inline-block bg-neutral-100 dark:bg-neutral-800 px-3 py-2 rounded w-full font-medium text-black dark:text-white text-sm text-left cursor-pointer">Link 1</a>
                    </li>
                    <li>
                        <a href="#" class="inline-block hover:bg-neutral-100 dark:hover:bg-neutral-800 px-3 py-2 rounded w-full font-medium text-black dark:text-white text-sm text-left cursor-pointer">Link 2</a>
                    </li>
                    <li>
                        <a href="#" class="inline-block hover:bg-neutral-100 dark:hover:bg-neutral-800 px-3 py-2 rounded w-full font-medium text-black dark:text-white text-sm text-left cursor-pointer">Link 3</a>
                    </li>
                </ul>
            </div>
            <!-- END Sidebar Drawer -->
        </aside>
        <!-- END Sidebar Component -->
        <!-- Content -->
        <div class="relative flex-1 w-full">
            <main class="mx-auto px-4 sm:px-8 max-w-screen-xl overflow-hidden">  
                <div class="space-y-4 pt-32 max-w-screen-sm">
                    <!-- Sidebar Open -->
                    <button type="button" class="bg-black hover:bg-neutral-800 focus:bg-neutral-800 dark:bg-neutral-100 dark:hover:bg-white dark:focus:bg-white disabled:opacity-60 px-3 py-2 rounded font-medium text-white dark:text-black text-sm cursor-pointer disabled:pointer-events-none" aria-controls="sidebar-menu" aria-label="Open sidebar menu."
                        x-data="{ isSidebarMenuOpen: false }"
                        @click="$dispatch('open-sidebar-menu');"
                        @set-sidebar-menu-expanded.window="isSidebarMenuOpen = $event.detail"
                        :aria-expanded="isSidebarMenuOpen"
                    >
                        <span>Sidebar</span>
                    </button>
                    <div class="h-dvh"></div>
                    <!-- END Sidebar Open -->
                    <div class="mt-16">
                        <a href="/index.html" class="font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black visited:text-neutral-700 dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                    </div>
                </div>
            </main>
        </div>
        <!-- END Content --> 
         
        <!-- Script -->
        <script>
            document.addEventListener('alpine:init', () => {
                Alpine.data('collapse', () => ({
                    isSidebarMenuOpen: false,
                    toggle() {
                        this.isSidebarMenuOpen = !this.isSidebarMenuOpen;
                    }
                }));
            })
        </script>
        <!-- END Script -->  
    </body>
</html>