<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
		<link rel="preload" href="/css/app.css" as="style">
		<link rel="stylesheet" href="/css/app.css">
		<!-- END Style -->
		<!-- Script -->
		<link rel="preload" href="/js/app.ts" as="script">
		<script src="/js/app.ts" type="module" defer></script>
		<!-- END Script -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl">  
            <div class="space-y-4 pt-32 max-w-screen-sm">
                <!-- Tabs Component -->
                <div class="space-y-2"
                    x-data="{ activeTab: 1 }"
                >
                    <!-- Tabs Buttons -->
                    <div class="flex items-center gap-2">
                        <!-- Tab 1 Button -->
                        <button type="button" class="disabled:opacity-60 px-3 py-2 rounded font-medium text-sm cursor-pointer disabled:pointer-events-none" aria-controls="tab-1" aria-label="Show tab 1."
                            @click="activeTab = 1"
                            :class="activeTab === 1 
                                ? 'bg-black dark:bg-neutral-100 hover:bg-neutral-800 dark:hover:bg-white focus:bg-neutral-800 dark:focus:bg-white text-white dark:text-black' 
                                : 'bg-neutral-100 dark:bg-neutral-700 hover:bg-neutral-200 dark:hover:bg-neutral-600 focus:bg-neutral-200 dark:focus:bg-neutral-600 text-black dark:text-white'"
                            :aria-expanded="activeTab === 1"
                        >
                            <span>Tab 1</span>
                        </button>
                        <!-- END Tab 1 Button -->
                        <!-- Tab 2 Button -->
                        <button type="button" class="disabled:opacity-60 px-3 py-2 rounded font-medium text-sm cursor-pointer disabled:pointer-events-none" aria-controls="tab-2" aria-label="Show tab 2."
                            @click="activeTab = 2"
                            :class="activeTab === 2 
                                ? 'bg-black dark:bg-neutral-100 hover:bg-neutral-800 dark:hover:bg-white focus:bg-neutral-800 dark:focus:bg-white text-white dark:text-black' 
                                : 'bg-neutral-100 dark:bg-neutral-700 hover:bg-neutral-200 dark:hover:bg-neutral-600 focus:bg-neutral-200 dark:focus:bg-neutral-600 text-black dark:text-white'"
                            :aria-expanded="activeTab === 2"
                        >
                            <span>Tab 2</span>
                        </button>
                        <!-- END Tab 2 Button -->
                        <!-- Tab 3 Button -->
                        <button type="button" class="disabled:opacity-60 px-3 py-2 rounded font-medium text-sm cursor-pointer disabled:pointer-events-none" aria-controls="tab-3" aria-label="Show tab 3."
                            @click="activeTab = 3"
                            :class="activeTab === 3 
                                ? 'bg-black dark:bg-neutral-100 hover:bg-neutral-800 dark:hover:bg-white focus:bg-neutral-800 dark:focus:bg-white text-white dark:text-black' 
                                : 'bg-neutral-100 dark:bg-neutral-700 hover:bg-neutral-200 dark:hover:bg-neutral-600 focus:bg-neutral-200 dark:focus:bg-neutral-600 text-black dark:text-white'"
                            :aria-expanded="activeTab === 3"
                        >
                            <span>Tab 3</span>
                        </button>
                        <!-- END Tab 3 Button -->
                    </div>
                    <!-- END Tabs Buttons -->
                    <!-- Tab 1 Content -->
                    <div id="tab-1" class="p-4 border border-neutral-200 dark:border-neutral-800 rounded overflow-hidden"
                        :class="{'hidden invisible': activeTab !== 1 }"
                        :inert="activeTab !== 1"
                    >
                        <p class="text-neutral-800 dark:text-neutral-200 text-sm">This is a Tab 1 paragraph text.</p>
                    </div>
                    <!-- END Tab 1 Content -->
                    <!-- Tab 2 Content -->
                    <div id="tab-2" class="hidden invisible p-4 border border-neutral-200 dark:border-neutral-800 rounded overflow-hidden"
                        :class="{'hidden invisible': activeTab !== 2 }"
                        :inert="activeTab !== 2"
                    >
                        <p class="text-neutral-800 dark:text-neutral-200 text-sm">This is a Tab 2 paragraph text.</p>
                    </div>
                    <!-- END Tab 2 Content -->
                    <!-- Tab 3 Content -->
                    <div id="tab-3" class="hidden invisible p-4 border border-neutral-200 dark:border-neutral-800 rounded overflow-hidden"
                        :class="{'hidden invisible': activeTab !== 3 }"
                        :inert="activeTab !== 3"
                    >
                        <p class="text-neutral-800 dark:text-neutral-200 text-sm">This is a Tab 3 paragraph text.</p>
                    </div>
                    <!-- END Tab 3 Content -->
                </div>
                <!-- END Tabs Component -->
                <div class="mt-16">
                    <a href="/index.html" class="font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black visited:text-neutral-700 dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                </div>
            </div>
        </main>
        <!-- END Content -->   
    </body>
</html>