<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
        <link rel="preload" href="/assets/css/app.css" as="style">
        <link rel="stylesheet" href="/assets/css/app.css">
        <!-- END Style -->
        <!-- Script -->
        <link rel="preload" href="/assets/js/app.ts" as="script">
        <script src="/assets/js/app.ts" type="module" defer></script>
        <!-- END Script -->
		<title>UI Sandbox</title>
	</head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl"> 
            <div class="space-y-4 pt-32 max-w-screen-sm">
                <div class="h-dvh"></div>
                <!-- Tooltip Component -->
                <div class="relative w-fit"
                    x-data="{
                        open: false,
                        placement: 'top',
                        scrollHandler: null,
                        resizeHandler: null,
                        updatePlacement() {
                            const anchor = $refs.anchor.getBoundingClientRect();
                            const tooltip = $refs.tooltip.getBoundingClientRect();
                            this.placement = (tooltip.top < anchor.top) ? 'top' : 'bottom';
                        },
                        mouseEnter() {
                            this.open = true; 
                            this.updatePlacement(); 
                            window.addEventListener('scroll', this.scrollHandler); 
                            window.addEventListener('resize', this.resizeHandler);
                        },
                        mouseLeave() {
                            this.open = false; 
                            window.removeEventListener('scroll', this.scrollHandler); 
                            window.removeEventListener('resize', this.resizeHandler);
                        },
                        init() {
                            this.scrollHandler = () => this.updatePlacement();
                            this.resizeHandler = () => this.updatePlacement();
                        }
                    }"
                    x-on:mouseenter="mouseEnter()"
                    x-on:mouseleave="mouseLeave()"
                >
                    <p x-ref="anchor" class="text-neutral-800 dark:text-neutral-200 text-sm">Hover me for tooltip</p>
                    <div 
                        x-ref="tooltip"
                        class="z-10 absolute bg-black dark:bg-white shadow-lg px-3 py-2 rounded"
                        x-show="open" 
                        x-cloak
                        x-anchor.top.offset.8="$refs.anchor"
                    >
                        <span class="text-white dark:text-black text-xs whitespace-nowrap">This is a tooltip example.</span>
                        <span class="left-1/2 absolute bg-black dark:bg-white border-transparent w-3 h-3 rotate-45 -translate-x-1/2"
                            :class="{
                                '-bottom-1 border-b border-l': placement === 'top',
                                '-top-1 border-t border-r': placement === 'bottom'
                            }"
                        ></span>
                    </div>
                </div>
            <!-- END Tooltip Component -->     
                <div class="h-dvh"></div>       
                <div class="mt-16">
                    <a href="/index.html" class="[&_svg]:stroke-neutral-500 hover:[&_svg]:stroke-black focus:[&_svg]:stroke-black visited:[&_svg]:stroke-neutral-700 dark:[&_svg]:stroke-neutral-400 dark:hover:[&_svg]:stroke-white dark:focus:[&_svg]:stroke-white dark:visited:[&_svg]:stroke-neutral-200 font-medium text-neutral-500 hover:text-black focus:text-black visited:text-neutral-700 dark:hover:text-white dark:focus:text-white dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">Back</a>
                </div>
            </div>
        </main>
        <!-- END Content -->   
    </body>
</html>