<!DOCTYPE html>
<html lang="en" x-data="app">
    <head>
       	<!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Prevent FOUC -->
        <script>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->
        <!-- Style-->
        <link rel="preload" href="/assets/css/app.css" as="style">
        <link rel="stylesheet" href="/assets/css/app.css">
        <!-- END Style -->
        <!-- Script -->
        <link rel="preload" href="/assets/js/app.ts" as="script">
        <script src="/assets/js/app.ts" type="module" defer></script>
        <!-- END Script -->
        <title>UI Sandbox</title>
    </head>
    <body class="relative bg-white dark:bg-neutral-950 min-h-dvh antialiased">
        <!-- Navbar Component -->
        <nav class="top-0 z-10 sticky w-full"
            x-data="{
                breakpoint: 1024,
                isNavbarMenuOpen: false,
                isScrolled: window.scrollY > 0
            }"
            @resize.window="
                if (window.innerWidth >= breakpoint) {
                    isNavbarMenuOpen = false;
                }
            "
            @scroll.window="isScrolled = window.scrollY > 0;"
            :class="isScrolled
                ? 'bg-white dark:bg-neutral-950 border-b border-neutral-200 dark:border-neutral-800'
                : 'bg-transparent dark:bg-transparent border-transparent'"
        >
            <div class="flex justify-between items-center mx-auto px-4 sm:px-8 py-2 max-w-screen-xl">
                <a href="#" class="font-medium text-neutral-800 dark:text-neutral-200 text-base">Title</a>

                <div class="flex items-center gap-2 lg:gap-6">
                    <!-- Navbar Menu -->
                    <div id="navbar-menu" class="hidden invisible lg:visible lg:block top-0 lg:top-auto left-0 lg:left-auto z-10 lg:z-auto fixed lg:relative bg-black/80 lg:bg-transparent w-dvw lg:w-auto h-dvh lg:h-auto"
                        x-trap.noautofocus.noscroll="isNavbarMenuOpen && window.innerWidth < breakpoint"
                        @click.self="isNavbarMenuOpen = false"
                        @keydown.escape.window="isNavbarMenuOpen = false"
                        :class="{ 'hidden invisible' : !isNavbarMenuOpen || window.innerWidth >= breakpoint }"
                        :inert="!isNavbarMenuOpen && window.innerWidth < breakpoint"
                    >
                        <!-- Navbar Menu Drawer -->
                        <div class="top-0 right-0 fixed lg:relative bg-white lg:bg-transparent dark:bg-neutral-950 px-4 sm:px-8 lg:px-0 py-4 lg:py-0 border-neutral-200 lg:border-0 dark:border-neutral-800 border-r w-full sm:w-64 lg:w-auto h-full lg:h-auto overflow-y-auto lg:overflow-y-visible">
                            <!-- Navbar Menu Close -->
                            <button type="button" class="lg:hidden lg:invisible top-2 right-4 sm:right-8 absolute hover:bg-neutral-100 focus:bg-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 disabled:opacity-60 p-2 rounded font-medium text-black dark:text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="navbar-menu" aria-label="Close navbar menu."
                                @click="isNavbarMenuOpen = false"
                                :aria-expanded="isNavbarMenuOpen"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12"/><path d="M6 6l12 12"/></svg>
                            </button>
                            <!-- END Navbar Menu Close -->
                            <!-- Navbar Menu Links -->
                            <ul class="lg:flex lg:items-center lg:gap-8 space-y-1 lg:space-y-0 mt-8 lg:mt-0 leading-0"
                                x-data="{ 
                                    activeSection: 'home',
                                    toggleActiveSection() {
                                        const sections = document.querySelectorAll(`section[id]`);
                                        sections.forEach(section => {
                                            const rect = section.getBoundingClientRect();
                                            if(rect.top <= 0 && rect.top + rect.height >= 0) {
                                                this.activeSection = section.id;
                                                console.log({
                                                    section: section.id,
                                                    rect: window.scrollY
                                                });
                                            }
                                        });
                                    }
                                }"
                                x-init="toggleActiveSection()"
                                @scroll.window="toggleActiveSection()"
                            >
                                <li>
                                    <a href="#home" class="inline-block lg:hover:bg-transparent lg:dark:hover:bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-800 lg:p-0 px-3 lg:px-0 py-2 lg:py-0 rounded w-full font-medium dark:text-white text-sm text-left cursor-pointer"
                                        :class="activeSection === 'home'
                                            ? 'bg-neutral-100 dark:bg-neutral-800 lg:bg-transparent lg:dark:bg-transparent lg:hover:dark:text-neutral-200 lg:hover:text-neutral-700 lg:focus:dark:text-neutral-200 lg:focus:text-neutral-700 '
                                            : 'text-black lg:hover:dark:text-white lg:hover:text-black lg:focus:dark:text-white lg:focus:text-black lg:dark:text-neutral-400 lg:text-neutral-500'"
                                    >Home</a>
                                </li>
                                <li>
                                    <a href="#section-2" class="inline-block lg:hover:bg-transparent lg:dark:hover:bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-800 lg:p-0 px-3 lg:px-0 py-2 lg:py-0 rounded w-full font-medium dark:text-white text-sm text-left cursor-pointer"
                                        :class="activeSection === 'section-2'
                                            ? 'bg-neutral-100 dark:bg-neutral-800 lg:bg-transparent lg:dark:bg-transparent lg:hover:dark:text-neutral-200 lg:hover:text-neutral-700 lg:focus:dark:text-neutral-200 lg:focus:text-neutral-700 '
                                            : 'text-black lg:hover:dark:text-white lg:hover:text-black lg:focus:dark:text-white lg:focus:text-black lg:dark:text-neutral-400 lg:text-neutral-500'"
                                    >Section 2</a>
                                </li>
                                <li>
                                    <a href="#section-3" class="inline-block lg:hover:bg-transparent lg:dark:hover:bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-800 lg:p-0 px-3 lg:px-0 py-2 lg:py-0 rounded w-full font-medium dark:text-white text-sm text-left cursor-pointer"
                                        :class="activeSection === 'section-3'
                                            ? 'bg-neutral-100 dark:bg-neutral-800 lg:bg-transparent lg:dark:bg-transparent lg:hover:dark:text-neutral-200 lg:hover:text-neutral-700 lg:focus:dark:text-neutral-200 lg:focus:text-neutral-700 '
                                            : 'text-black lg:hover:dark:text-white lg:hover:text-black lg:focus:dark:text-white lg:focus:text-black lg:dark:text-neutral-400 lg:text-neutral-500'"
                                    >Section 3</a>
                                </li>
                            </ul>
                            <!-- END Navbar Menu Links -->
                        </div>
                        <!-- END Navbar Menu Drawer -->
                    </div>  
                    <!-- END Navbar Menu -->
                    <!-- Dark Mode Menu Component -->
                    <div class="relative"
                        x-data="{ 
                            isDarkModeMenuOpen: false,
                            theme: localStorage.theme || 'system',
                            toggleTheme(newTheme) {
                                this.theme = newTheme;
                                newTheme === 'system' 
                                    ? localStorage.removeItem('theme') 
                                    : localStorage.theme = newTheme;
                                document.documentElement.classList.toggle('dark', 
                                    newTheme === 'dark' || (newTheme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)
                                );
                                this.isDarkModeMenuOpen = false;
                            },
                        }"
                        @click.outside="isDarkModeMenuOpen = false"
                        @keydown.escape.window="isDarkModeMenuOpen = false"
                    >
                        <!-- Dark Mode Menu Toggle -->
                        <button type="button" class="hover:bg-neutral-100 focus:bg-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 disabled:opacity-60 p-2 rounded font-medium text-black dark:text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="dark-mode-menu" aria-label="Toggle dark mode menu."
                            x-ref="button"
                            @click="isDarkModeMenuOpen = !isDarkModeMenuOpen"
                            :aria-expanded="isDarkModeMenuOpen"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" class="dark:hidden stroke-black w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"/><path d="M6.343 17.657l-1.414 1.414"/><path d="M6.343 6.343l-1.414 -1.414"/><path d="M17.657 6.343l1.414 -1.414"/><path d="M17.657 17.657l1.414 1.414"/><path d="M4 12h-2"/><path d="M12 4v-2"/><path d="M20 12h2"/><path d="M12 20v2"/></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="hidden dark:block stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"/></svg>
                        </button>
                        <!-- END Dark Mode Menu Toggle -->
                        <!-- Dark Mode Menu -->
                        <div id="dark-mode-menu" class="right-0 z-10 absolute bg-white dark:bg-neutral-950 border border-neutral-200 dark:border-neutral-800 rounded w-48"
                            x-show="isDarkModeMenuOpen"
                            x-cloak
                            x-anchor.no-style.offset.8="$refs.button"
                            :inert="!isDarkModeMenuOpen"
                            :style="{ top: $anchor.y+'px' }"
                        >
                            <ul class="space-y-1 p-1 leading-0">
                                <li>
                                    <button type="button" class="flex items-center gap-2 hover:bg-neutral-100 dark:hover:bg-neutral-800 px-3 py-2 rounded w-full font-medium text-black dark:text-white text-sm text-left cursor-pointer" aria-label="Set light theme."
                                        @click="toggleTheme('light')"
                                        :class="{'bg-neutral-100 dark:bg-neutral-800': theme === 'light'}"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"/><path d="M6.343 17.657l-1.414 1.414"/><path d="M6.343 6.343l-1.414 -1.414"/><path d="M17.657 6.343l1.414 -1.414"/><path d="M17.657 17.657l1.414 1.414"/><path d="M4 12h-2"/><path d="M12 4v-2"/><path d="M20 12h2"/><path d="M12 20v2"/></svg>
                                        <span>Light</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="flex items-center gap-2 hover:bg-neutral-100 dark:hover:bg-neutral-800 px-3 py-2 rounded w-full font-medium text-black dark:text-white text-sm text-left cursor-pointer" aria-label="Set dark theme."
                                        @click="toggleTheme('dark')"
                                        :class="{'bg-neutral-100 dark:bg-neutral-800': theme === 'dark'}"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"/></svg>
                                        <span>Dark</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="flex items-center gap-2 hover:bg-neutral-100 dark:hover:bg-neutral-800 px-3 py-2 rounded w-full font-medium text-black dark:text-white text-sm text-left cursor-pointer" aria-label="Set system theme."
                                        @click="toggleTheme('system')"
                                        :class="{'bg-neutral-100 dark:bg-neutral-800': theme === 'system'}"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z"/><path d="M7 20h10"/><path d="M9 16v4"/><path d="M15 16v4"/></svg>
                                        <span>System</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- END Dark Mode Menu -->
                    </div>
                    <!-- END Dark Mode Menu Component --> 
                    <!-- Navbar Menu Open -->
                    <button type="button" class="lg:hidden lg:invisible hover:bg-neutral-100 focus:bg-neutral-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 disabled:opacity-60 p-2 rounded font-medium text-black dark:text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="navbar-menu" aria-label="Open navbar menu."
                        @click="isNavbarMenuOpen = true"
                        :aria-expanded="isNavbarMenuOpen"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M4 6l16 0"/><path d="M4 12l16 0"/><path d="M4 18l16 0"/></svg>
                    </button>
                    <!-- END Navbar Menu Open -->
                </div>
            </div>
        </nav>
        <!-- END Navbar Component -->
        <!-- Content -->
        <main class="mx-auto px-4 sm:px-8 py-16 w-full max-w-screen-xl">  
            <section id="home" class="space-y-2 pt-48 sm:pt-64 max-w-4xl h-dvh">
                <h1 class="font-extrabold text-black dark:text-white text-4xl sm:text-5xl lg:text-6xl">UI Sandbox</h1>
                <h2 class="font-medium text-neutral-800 dark:text-neutral-200 text-base">
                    <span>This is a sandbox for </span>
					<a href="https://github.com/mkfizi" target="_blank" class="font-medium text-black hover:dark:text-neutral-200 hover:text-neutral-700 focus:dark:text-neutral-200 focus:text-neutral-700 dark:text-white cursor-pointer">@mkfizi</a> 
                    <span> projects with TailwindCSS.</span>
                </h2>
            </section>
            <section id="section-2" class="pt-16 h-dvh">
                <h3 class="font-medium text-black dark:text-white text-lg sm:text-xl lg:2xl">Section 2</h3>
            </section>
            <section id="section-3" class="pt-16 h-dvh">
                <h3 class="font-medium text-black dark:text-white text-lg sm:text-xl lg:2xl">Section 3</h3>
            </section>
        </main>
        <!-- END Content -->
        <!-- Scroll Top Component -->
        <button type="button" class="right-4 sm:right-8 bottom-4 sm:bottom-8 fixed inset-ring inset-ring-neutral-300 hover:inset-ring-neutral-400 focus:inset-ring-neutral-400 dark:hover:inset-ring-neutral-600 dark:focus:inset-ring-neutral-600 dark:inset-ring-neutral-700 hover:bg-neutral-100 dark:hover:bg-neutral-800 disabled:opacity-60 p-2 rounded font-medium text-black dark:text-white text-sm cursor-pointer disabled:pointer-events-none"
            x-data
            @click="window.scrollTo({ top: 0 })"
        >
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black dark:stroke-white w-5 h-5" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12 5l0 14"/><path d="M18 11l-6 -6"/><path d="M6 11l6 -6"/></svg>
        </button>   
        <!-- Footer -->
        <footer class="bottom-1 left-1/2 absolute px-4 sm:px-8 pb-px w-full max-w-screen-xl -translate-x-1/2 transform">
            <div class="flex justify-between">
                <span class="text-neutral-800 dark:text-neutral-200 text-sm">
                    <span>Copyright © </span><span x-text="new Date().getFullYear()"></span>
                </span>
                <span class="text-neutral-800 dark:text-neutral-200 text-sm">
                    <span>Developed by </span>
                    <a href="https://mkfizi.dev" target="_blank" class="font-medium text-neutral-500 hover:dark:text-white hover:text-black focus:dark:text-white focus:text-black visited:text-neutral-700 dark:text-neutral-400 dark:visited:text-neutral-200 text-sm cursor-pointer">mkfizi</a>
                </span>
            </div>
        </footer>
        <!-- END Footer -->
    </body>
</html>